*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header{
  width: 100px;
  height: 80px;
  display: block;
  background-color: coral;
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container{
  height: 100%;
  display: table;
  float: left;
}